{% extends 'main/layout.html'%}

{% block title %}
<title>Создание события</title>
{% endblock%}
<h1>Создать/отредактировать событие</h1>
{% block content %}


<div class="event-form-container">
    <form method="post" class="event-form">
        {% csrf_token %}

        {{form.title}}
        {{form.description}}
        {{form.published_date}}
        <div class="error-message">
            {{ error }}
        </div>
        <button type="submit" class="event-button">Сохранить</button>
    </form>
</div>

{% endblock %}