{% extends 'main/layout.html' %}

{% block title %}
<title>Задачи</title>
{% endblock %}

{% block content %}
<h1>Задачи</h1>

{% if tasks %}
    <div class="task-table-container">
        <table class="task-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дедлайн</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.deadline|date:"d.m.Y H:i" }}</td>
                    <td class="status {% if task.is_completed %}completed{% endif %}">
                        {% if task.is_completed %}Выполнено{% else %}Не выполнено{% endif %}
                    </td>
                    <td>
                        <p><a href="{% url 'task_update' task.id %}" class="task_but">Редактировать</a></p>
                        <p><a href="{% url 'task_delete' task.id %}" class="task_but">Удалить</a></p>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Задачи отсутствуют</p>
{% endif %}

<div class="create-note">
    <a href="{% url 'create_task' %}" class="create-button">Создать задачу</a>
</div>

{% endblock %}

